<%- include('partials/header') %> 

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">HackJob Portal</h1>
          <p class="lead text-muted">Something short and leading about your jobs.</p>
          <p>
            <a href="/jobs" class="btn btn-primary my-2">Manage Job</a>
            <a href="/hiring" class="btn btn-success my-2">Apply Job</a>
          </p>
        </div>
      </div>
    </section>

    
    <footer class="bg-dark text-white text-center fixed-bottom" style="height: 50px; padding-top: 5px;">
      <p>Chellenge by Hacktiv8</p>
    </footer>
  </body>
</html>
      