<%- include('partials/header')  %>
<body id="myPage">
  <%- include('partials/navbar')  %>

    <div class="w3-container w3-padding-64 w3-center" id="team">
      <h1>911 Report</h1>
      <p>This is a platform where you can post any event in your surrounding</p>
      <p>With this platform, JPD is trying to make your reporting experience more enjoyable</p><br>
      
      <button class="w3-btn w3-light-grey w3-round-large"><a href="/reports/add">Post Report Now</a></button>
      <button class="w3-btn w3-light-grey w3-round-large"><a href="/reports">List Report</a></button>
    </div>
  </div>
  

  <footer class="w3-container w3-center w3-theme-d2 w3-xlarge" style="height: 50px; width: 100%; position: absolute; bottom: 0;">

    <p class="w3-medium">Chellenge by Hacktiv8</p>
  </footer>
</body>
</html>
