<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="w3-container w3-padding-64">
    <header style="margin-top: 50px;">
      <h1>Welcome to Partner Chef-8</h1>
    </header>
    <hr>
    <div class="w3-row w3-padding-22" id="about">
      <div class="w3-padding-large w3-center" style="width: 750px; margin: auto;">
        <h1 style="margin-bottom:30px;">About</h1>
        <p class="w3-large">The Partner Chef was founded in chellenge by Hacktiv8. Partner Chef is a great source of delicious recipes, comprehensive product recommendations, how to guides, news, & more. Here you'll find easy and elegant recipes with step-by-step. From family friendly dinner ideas, to easy desserts everyone will love, get kid tested recipes perfect for busy moms and dads. Hope you'll visit often and be inspired. </p>
        <button class="w3-btn w3-white w3-border w3-round-large" style="margin-top: 10px;">More Details</button>
      </div>
    </div>
  </div>
  
<%- include('partials/footer') %>